@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

* {
 font-family: "Playfair Display";
 font-size: 1.1em;
 color: #222222;
}

html {
  background: url("./scribble_light.png")
}

h1 {
  font-size: 1.9em;
}

body {
  max-width: 800px;
}

ul {
  list-style-type: none;
}

a {
  color: #961515;
  text-decoration: none;
  font-size: 1.8em;
}

a:hover {
  color: #E90000;
  font-size: 1.9em;
}